

/* primary and accent */
$primary-color-dark: #1976D2;
$primary-color: #2196f3;
$primary-color-light: #BBDEFB;
$accent-color: #FF5252;
$accent-color-dark: #f24c4c;

/* gray scales*/
$black-color: #212121;
$mid-color: #727272;
$light-color: #f1f2f3;
$white-color: #FFFFFF;
$divider-color: #d6d8db;
