// site wide colors
@import '../colors';

// mixins
@import '../mixins';

/****************************
User log in Component
****************************/

.ceate-account{
  height: 100%;
}

.ceate-account .table{
  width:100%;
  max-width: 400px;
  height: 100%;
  margin:0 auto;
}

.ceate-account .cell{
  width:100%;
  margin:0 auto;
}

.ceate-account .content{
  float: left;
  text-align: center;
  width: 100%;
  padding: 30px;
  border: 1px solid $divider-color;
  background-color: $white-color;
}
.ceate-account h2{
  font-size: 1.8em;
  text-align: left;
  padding-bottom: 20px;
}

.ceate-account p{
  padding: 10px 0;
}

.ceate-account button{
  width: 100%;
}

.ceate-account form, .ceate-account form div{
  padding-bottom: 20px;
}
