
@import '../mixins';
@import '../colors';

/*********************************************
Top header bar in a room
*********************************************/
.top-bar{
    position: relative;
    height: 70px;
    background-color: $white-color;
    border-bottom: 1px solid $divider-color;
}

.user-info{
    position: absolute;
    top: 5px;
    right: 30px;
    width: 60px;
    height:auto;
    cursor: pointer;
}

.top-bar .user-profile-image{
    display: table;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: $accent-color-dark;
    border:3px solid $light-color;
    @include border-radius();
}

.top-bar .user-profile-image span{
    vertical-align: middle;
    display: table-cell;
    color:$white-color;
    font-size: 3em;
}

.settings-pane{
    position: relative;
    display: none;
    margin-left: -60px;
    margin-top: 10px;
    width: 120px;
    background: $mid-color;
    border: 1px solid $light-color;
    box-shadow: 0 1px 10px 0 $divider-color;
    @include border-radius(8px, 8px, 8px, 8px);
}

.settings-pane:after{
    display: block;
    position: absolute;
    top: -7px;
    left: 82px;
    width:14px;
    height:14px;
    content: '';
    background-color:$mid-color;
    border: 1px solid $light-color;
    border-right: 1px solid $mid-color;
    border-bottom: 1px solid $mid-color;
    transform: rotate(45deg);
}

.user-info:hover .settings-pane{
    display: block;
}

.settings-pane li{
    padding: 10px;
    font-size: 1.1em;
    color: $light-color;
}

/*********************************************
The main canvas where all the magic happens
*********************************************/
.white-board{
    text-align: center;
    padding: 20px;
}

canvas{
    display: inline-block;
    background-color: $white-color;
    -webkit-box-shadow: 0 1px 30px 0 $divider-color;
    box-shadow: 0 1px 100px 0 $divider-color;
}

/*********************************************
User list - display for all
the current users viewing in
a room
*********************************************/

.room-users{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 0;
  float: left;
  border-top:1px solid $mid-color;
  background-color: $white-color;
  transition: height 250ms ease-in;
}

.room-users.active{
    height: 110px;
}

.toggleUsers{
    position: absolute;
    top: -30px;
    left: 50%;
    width: 40px;
    height: 30px;
    margin-left: -20px;
    color: $mid-color;
    font-size: 2.5em;
    text-align: center;
    cursor: pointer;
    transition: all 250ms ease-in;
}

.room-users.active .toggleUsers{
    transform: rotate(180deg);
}

.scroll-wrap{
  position: relative;
  width: 100%;
  float: left;
  overflow-x: scroll;
}

.room-users-list{
  margin:0 auto;
}

.room-users-list li{
  position: relative;
  float: left;
  display: block;
  width: 120px;
  height: 110px;
  text-align: center;
  cursor: pointer;
}

.room-users .user{
  width: 120px;
  height: 110px;
  padding: 5px 10px;
}

.room-users .info{
  position: absolute;
  opacity: 0;
  bottom: 10px;
  left:0;
  width:100%;
  text-align: center;
  color:$mid-color;
  font-size: .8em;
  transition: all 250ms ease-in;
}

.room-users-list li:hover .user-profile-image{
  transform: scale(.8) translateY(-10px);
}

.room-users-list li:hover .info{
  opacity: 1;
  bottom: 0;
}

.room-users-list .user-profile-image{
    display: table;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: $accent-color-dark;
    border:3px solid $light-color;
    @include border-radius();
    transition: all 250ms ease-in;
}

.room-users-list .user-profile-image span{
    vertical-align: middle;
    display: table-cell;
    color:$white-color;
    font-size: 2.8em;
}
